node_modules/
.env
dist/
venv/
.venv/
*.log
.vscode/
data/krx_15y_data.csv
data/past_news.csv
data/merged_15y_data.csv
"backend-clean/" 
.vercel
export_macro_analysis.js
macro_analysis_2025-07-09.csv
__pycache__/
