psycopg2-binary
pandas
openpyxl
scikit-learn
schedule
torch
holidays
google-generativeai
transformers
joblib
numpy==1.25.2
faiss-cpu==1.7.4
python-dotenv
# Additional packages for financial sentiment analysis
accelerate
sentencepiece
protobuf
konlpy
JPype1
